<!-- index.html -->
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
  <link rel="stylesheet" href="mystyle.css">
</head>
<body>
    <div class="flex justify-between items-center py-4 bg-Gray-800">
        <div class="flex-shrink-0 ml-10 cursor-pointer">
          <i class="fas fa-drafting-compass fa-2x text-orange-500"></i>
          <span class="ml-1 text-3xl text-blue-100 font-semibold">Warehouse management</span>
        </div>
        <i class="fas fa-bars fa-2x visible md:invisible mr-10 md:mr-0 text-blue-150 cursor-pointer"></i>
        <ul class="hidden md:flex overflow-x-hidden mr-8 font-semibold font-sans">
          <li class="mr-6 border-solid border-1 border-light-blue-50">
            <a class="text-white hover:text-blue-300" style="text-decoration:none;" href="/products">Products</a>
          </li>
          <li class="mr-6 border-solid border-1 border-light-blue-50">
            <a class="text-white hover:text-blue-300" style="text-decoration:none;font-style: italic;" href="/locations">Locations</a>
          </li>
          <li class="mr-6 border-solid border-1 border-light-blue-50">
            <a class="text-white hover:text-blue-300" style="text-decoration:none;font-style: italic;" href="/movements">Movements</a>
          </li>
          <li class="mr-6 border-solid border-1 border-light-blue-50">
            <a class="text-white hover:text-blue-300" style="text-decoration:none;font-style: italic;" href="/report">Report</a>
          </li>
          <li class="mr-6 border-solid border-1 border-light-blue-50">
            <a class="text-white hover:text-blue-300" style="text-decoration:none;font-style: italic;" href="/home">Home</a>
          </li>
          <li class="mr-6 border-solid border-1 border-light-blue-50">
            <a class="text-white hover:text-blue-300" style="text-decoration:none;font-style: italic;" href="/logout">Logout</a>
          </li>
        </ul>
      </div>

      {% block javascript %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script type="text/javascript">
          {% include "app.js" %}
      </script>
      <!-- The contents of myscript.js will be loaded inside the script tag -->
  {% endblock %}
      {% block body %} {% endblock %}
      
</body>
</html>