{% extends 'base.html'%}

{% block title %} Index {% endblock %}

{% block body %}
<main class="h-full flex items-center px-6 lg:px-32 bg-purple-900 text-white relative">
    <header class="w-full absolute left-0 top-0 p-6 lg:p-32">
      <div class="flex justify-between">
        <div>
          <h1 class="text-3xl font-bold"><img src="https://img.icons8.com/nolan/64/blockchain-new-logo.png"/></h1>
        </div>
      </div>
    </header>
    <section class="w-full md:w-9/12 xl:w-8/12">
      <span class="font-bold uppercase tracking-widest">Flask</span>
      <h1 class="text-3xl lg:text-5xl font-bold text-pink-500">
        Warehouse<br/>Management
      </h1>
      <p class="font-bold mb-1">Developed with Flask, tailwind CSS and Bootstrap</p>
      <p>Available Now !!</p>
    </section>
    <footer class="absolute right-0 bottom-0 p-6 lg:p-32">
      <p class="font-bold mb-1">Yours Truly</p>
      <p>Azhar sayyed (Full Stack Developer)</p>
      <a style='color:white', href="mailto:arizsayed777@gmail.com">| Email Me |</a>
      <a style='color:white', href="tel:+919833692134" class="Blondie">
        | Cell Phone |
    </a>
    </footer>
  </main>
{% endblock %}