{% extends 'base.html'%}

{% block title %} Update Products {% endblock %}

{% block body %}
<div class="container bg-light text-dark" style="height: 100vh;width: 400vh;overflow: auto;">
    <h2 class="text-center mt-3">
        Update Product
    </h2>
    <form action="/products/{{product.id}}/update" method="post">
        <div class="form-group">
            <label for="product-name">
                Product Name
            </label>
            <input type="text" class="form-control" name="product-name" id="product-name" value="{{product.name}}">
            <input type="submit" class="form-control btn-warning mt-3" value="Update product">
        </div>
    </form>
</div>
{% endblock %}