{%extends 'base.html'%}

{% block title %} Movement report {% endblock %}

{% block body %}
<div class="container bg-light text-dark" style="height: 100vh;width: 400vh;">
    <h2 class="text-center mt-3">
        SUMMARY
    </h2>
    <!-- <button class="btn btn-primary" type="button"><a class="text-white hover:text-blue-300" href="/report?sort=true">Sort Ascending</a></button> -->
    <!-- <form action="/report?sort=asc&field={id}" method="get"> -->
    <div class="form-check form-check-inline mt-4 mb-3">
        <button type="button" class="btn btn-light" style="font-weight: bold;" disabled>Sort by</button>
        <input class="form-check-input" type="radio" id="timestamp" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Timestamp</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="quantity" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Quantity</label>
      </div>
    <!-- </br> -->
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-light" style="font-weight: bold;" disabled>Select order</button>
        <button type="submit" class="btn btn-outline-primary" onclick="sendData('asc')">Ascending</button>
        <button type="submit" class="btn btn-outline-primary" onclick="sendData('desc')">Descending</button>
        
    </div>
    <button type="button" class="btn btn-primary float-right"><a href="/download_report/latest_report.csv" target="_blank", style="color: white;">Download Report</a></button>
    <input type="text" class="form-control" name="tag" id="myInput" onkeyup="searchFunction()" placeholder="Search for product, city or by quantity..." title="Type in a name">
    <table class="table mt-4" id="myTable">
        <thead class="thead-dark ">
            <th>#</th>
            <th>
                Product
            </th>
            <th>
                Warehouse
            </th>
            <th>
                Quantity
            </th>
        </thead>
        {% for rep in report.items  %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{rep.product}}</td>
            <td>{{rep.location}}</td>
            <td>{{rep.quantity}}</td>
        </tr>
        {% endfor %}
    </table>

    
<div class="text-right">
    <a href="{{ url_for('report', page=report.prev_num) }}"
       class="btn btn-outline-dark {% if report.page == 1 %}disabled{% endif %}">&laquo;
    </a>
    {% for page_num in report.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
            {% if report.page == page_num %}
            <a href="{{ url_for('report', page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('report', page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('report', page=report.next_num) }}"
       class="btn btn-outline-dark 
       {% if report.page == report.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
   Showing page {{ report.page }} of {{ report.pages }}
</p>
</div>
{% endblock %}
