{%extends 'base.html'%}

{% block title %} Movement report {% endblock %}

{% block body %}
<div class="container bg-light text-dark" style="height: 100vh;width: 400vh;">
    <h2 class="text-center mt-3">
        SUMMARY
    </h2>
    {%if report |length < 1%}
    <h4>No Report found please start by making movements</h4>
    {% else %}
    <!-- <button class="btn btn-primary" type="button"><a class="text-white hover:text-blue-300" href="/report?sort=true">Sort Ascending</a></button> -->
    <!-- <form action="/report?sort=asc&field={id}" method="get"> -->
    <div class="form-check form-check-inline mt-4 mb-3">
        <button type="button" class="btn btn-light" style="font-weight: bold;" disabled>Sort by</button>
        <input class="form-check-input" type="radio" id="timestamp" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Timestamp</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="quantity" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Quantity</label>
      </div>
    <!-- </br> -->
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-light" style="font-weight: bold;" disabled>Select order</button>
        <button type="submit" class="btn btn-outline-primary" onclick="sendData('asc')">Ascending</button>
        <button type="submit" class="btn btn-outline-primary" onclick="sendData('desc')">Descending</button>
        
    </div>
    <button type="button" class="btn btn-primary float-right"><a href="/download_report/latest_report.csv" style="color: white;">Download Report</a></button>
    <input type="text" class="form-control" name="tag" id="myInput" onkeyup="searchFunction()" placeholder="Search for product, city or by quantity..." title="Type in a name">
    <table class="table mt-4" id="myTable">
        <thead class="thead-dark ">
            <th>
                Product
            </th>
            <th>
                Warehouse
            </th>
            <th>
                Quantity
            </th>
        </thead>
        {% for rep in report  %}
        <tr>
            <td>{{rep.product}}</td>
            <td>{{rep.location}}</td>
            <td>{{rep.quantity}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}
